* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  background-image: url("https://getwallpapers.com/wallpaper/full/7/d/a/88435.jpg");
  background-blend-mode: overlay;
  background-size: cover;
  font-family: Lora, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5%;
}

header {
  font-size: 3rem;
  color: aliceblue;
  background-color: black;
  opacity: 60%;
  border-radius: 45px;
  padding: 1%;
}

footer {
  font-size: 1.7rem;
  font-style: italic;
  color: aliceblue;
  background-color: black;
  opacity: 60%;
  border-radius: 45px;
  padding: 1%;
}

a {
  font-weight: 500;
  color: aliceblue;
}

.calc-container {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: rgba(255, 127, 80, 0.712);
  border-radius: 20px;
  border: 5px solid white;
}
.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}